

    
        <div class="slider-form">
        <div>
            <h3>Papeis de Parede</h3>
        </div>
<div>
        <ng-image-slider class="slider" [images]="imageObject" #nav [infinite]="true" [autoSlide]="1"
		[imageSize]="{width: '30%', height: 150}" slideImage="1">></ng-image-slider>
        
</div>
<div>
    <h3>Videos</h3>
</div>
        <ng-image-slider class="slider" [images]="videosObject" #nav [infinite]="true" [autoSlide]="1"
		[imageSize]="{width: '30%', height: 150}" slideImage="1" ></ng-image-slider>
        
    </div>
    


