

    <section class="container">

        <div class="leftside">
            <div class="info">
                <div class="profissao">FullStack Developer</div>
                <div class="nome"> I'am Will Moraes</div>
                <div class="buttons"> 
                     <a href="../pages/form.html">Saiba Mais</a> 
                     <a href="../pages/contatos.html" class="light">Contatos</a>   
                </div>
            </div>
        </div>
        <div class="rightside"></div>

    </section>


